.container {
  width: 80% !important;
  margin: 0 auto;
  margin-top: 100px;
  padding-bottom: 100px;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.credits {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.credits img {
  max-width: 100%;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}
